

body{
    background: #fff url(https://jfe-cdn.qualtrics.com/themes/skins/schulich/schulich2/version-1538674037338-2d9fc3/files/bg.jpg) no-repeat center fixed;
    background-size: cover;

}

.main{
    margin: auto;
    width: 75%;
    background-color:  #eeeeee05;
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 16px;
    padding-left: 80px;
}
