<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="chatStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="chatHandler.js"></script>

</head>
<header>
    <div class="YU-Logo" align="right">
        <img src="https://jfe-cdn.qualtrics.com/themes/skins/schulich/schulich2/version-1538674037338-2d9fc3/files/logo.png">
    </div>
</header>
<body onLoad="connecting()">
<div class="chatbox">
    <div id="con">
    </div>
    <div class="chatlogs" id="log">

    </div>
    <div class="chatform">
        <input id="inputBox" onkeypress="enterPress(event, this)" maxlength="150" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type Here'" />
        <button onClick="submit()">Send</button>
    </div>
</div>
<center>
<div class="convoid">
    <p class="convo-sent">When you are finished chatting, please click this button to acquire your conversation ID<br></p>
    <button class="idbutton" onClick="convoId()" disabled>Get convo ID</button>
</div>
</center>

</body>
</html>