<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="front.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Welcome!</title>
</head>
<body>
<header>
    <div>
    <img class="YU-logo" src="https://jfe-cdn.qualtrics.com/themes/skins/schulich/schulich2/version-1538674037338-2d9fc3/files/logo.png">
    </div>
</header>
<center>
    <h1>Welcome!</h1>
    <div  class="main">
        <p>Consent Form

            The purpose of this research study is to understand how people interact electronically using computer
            mediated communication.
            You will complete a collaborative task with the help of a virtual partner. For the duration of the task, you
            will have Skype chat
            open to communicate with your partner. You will then be asked to respond to some questions regarding your
            experience and views about
            your partner. At the end of the questionnaire, you will also be asked to provide information about yourself
            and your beliefs, in general.
            <br>
            <br>
            This research study will take about 30 minutes to complete, and you will not be compensated for your
            participation.
            <br>
            Your participation is voluntary and greatly appreciated. You may choose not to participate at all or you may
            refuse to
            participate in certain procedures, answer certain questions, or discontinue your participation at any time
            without consequences.
            Refusal to answer any particular questions or withdrawal from the study will not affect you in any way. You
            have the right to withdraw
            without any penalty. Also, you have the right to request that your responses not be used in the data
            analyses.
            <br>
            <br>
            Participation in this research study does not involve any foreseeable risks.
            <br>
            <br>
            You will experience no direct benefits from this study. However, one potential benefit of participating in
            this research
            study is that you have the opportunity to learn more about the research process and also help contribute to
            scientific advancement.
            <br>
            <br>
            This experiment is anonymous and no personally identifiable information will be stored with your responses.
            Your confidentiality will be protected to the maximum extent allowed by law. All data will be stored on the
            hard drive of a
            secure computer, and on a secure server. Data will only be accessed by trained experimenters. Data will be
            stored for up to five years
            after the publication of research stemming from this project---as specified by the American Psychological
            Association.
            <br>
            <br>
            At the conclusion of this research the experimenter will provide a thorough explanation of the study.
            It is our goal that you learn about the research you participated in today. Furthermore, the experimenter
            will be happy to
            answer any questions you have about the research.
            <br>
            <br>
            Brent Lyons, a professor in the Schulich School of Business at York University is conducting this scientific
            study.
            If you have questions about the study, contact Brent Lyons, Ph.D., Schulich School of Business, York
            University via e-mail: blyons@schulich.yorku.ca.
            If you have any questions about this process, or about your rights as a participant in the study, please
            contact the Sr. Manager & Policy Advisor for the Office of Research Ethics, 5th Floor, Kaneff Tower, York
            University (telephone 416-736-5914 or e-mail ore@yorku.ca).
            <br>
            <br>
            This research has received ethics review and approval by the Human Participants Review Sub-Committee, York
            University’s Ethics Review Board and conforms to the standards of the Canadian Tri-Council Research Ethics
            guidelines.
            <br>
            <br>
            Your continued participation indicates your voluntary consent to participate in this research.</p>
        <br>
        <br>
    </div>
    <form action="#" th:action="@{/chat}" method="post">
        <p><input type="submit" value="I Agree"/></p>
    </form>
</center>

</body>
</html>