<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="front.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Welcome!</title>
</head>
<body>
<header>
    <div>
        <img class="YU-logo"
             src="https://jfe-cdn.qualtrics.com/themes/skins/schulich/schulich2/version-1538674037338-2d9fc3/files/logo.png">
    </div>
</header>
<center>
    <h1>Welcome!</h1>
    <div class="main">
        Directions: For the collaborative portion of this study, you will participate in a visual judgement ability task
        with your partner.
        One partner will be the “feedback-giver” and the other will be the “feedback-taker”.

        For this round, you have been assigned the role of “feedback-taker” and your partner has been assigned to the
        role of “feedback-giver”.

        The “feedback-giver” will have the opportunity to provide the “feedback-taker” with feedback at several points
        during the task,
        which you can then use to amend your responses. However, only your final answer will count towards your team’s
        score.
    </div>
    <form action="#" th:action="@{/chat}" method="post">
        <p><input type="submit" value="I Agree"/></p>
    </form>
</center>

</body>
</html>