<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="E:\Bot-Project\chatBot\src\main\resources\static\front.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>test</title>
    <script>setTimeout(function() { window.location.href = ‘/chat’; }, 5000);</script>
</head>
<body>
<center>
    <h1>When button is clicked, this page appears</h1>

    <p>Code in: Pairing you with a person...</p>
    <p>After pairing is done, state some personal info on the person the participant is connected to</p>

</center>
</body>
</html>